@model Aud6.Models.Client

@{
    ViewBag.Title = "ShowClient";
}


@{ 
    if (Model.Age < 18)
    {
                <h2 style="color:rebeccapurple">Maloleten si</h2>
    }
    else
    {
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClenskaKarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClenskaKarta)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        }
    }

    