@model WebApplication25.Models.MovieRentals
@{
    ViewBag.Title = "Random";
}

<h2>@Model.movie.Name</h2>

<h5>Rating: @Model.movie.rating</h5>
<ul>
    @{
        int i = 0;
        foreach (var client in Model.clients)
        {
            <li>   <a href="ShowClient/@i">@client.Name, @client.ClenskaKarta</a></li>
            i++;
        }

        // for(int i = 0; i < Model.clients.Count; i++)
     //   {
      //      var client = Model.clients[i];
        //    <li><a href="ShowClient/@i">@client.Name, @client.ClenskaKarta</a></li>
        }
    </ul>
