@model Bolnica.Models.Bolnica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bolnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destinacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destinacija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgurl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BolnicaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
