 @model AudMVC3.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<div>
    <ul>
        @{ 
            foreach(var client in Model.clients)
            {
                <li>
                    <a href="/Clients/Details/@client.Id"@client.Name,@client.age></a>
                </li>
            }
        }
    </ul>
</div>
<a href="/Movies/InsertNewClinet/@Model.Id">Insert client to movie</a>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
