@model WebApplication26.Models.MovieRentals
@{
    ViewBag.Title = "Random";
}

<h2>@Model.movie.Name</h2>
<h2>Rating: @Model.movie.Rating</h2>
<h2>Rating: @Model.movie.Rating</h2>
<img src="@Model.movie.ImageUrl" />
<ul>
    @{ 
        int i = 0;
        foreach(var client in Model.clients)
            {
               <li> <a href="ShowClient/@i">@client.Name,@client.ClenskaKarta</a></li>
            i++;
        }
    }</ul>

